* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* 페이지 배경색 및 폰트 설정 */
body {
    background-color: #181818;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
}

/* 헤더 스타일 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #202020;
    width: calc(100% - 240px); 
    position: fixed;
    top: 0;
    left: 240px;
    z-index: 1000;
}

header .logo img {
    height: 50px;
}

.search-bar-container {
    display: flex;
    align-items: center;
    width: 500px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #121212;
    color: white;
}

.search-button {
    background-color: #303030;
    border: none;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.search-button img {
    height: 20px;
}

.user-icons img {
    height: 32px;
    margin-left: 15px;
    cursor: pointer;
}

/* 사이드바  */
aside {
    width: 240px;
    background-color: #202020;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    z-index: 1001;
}

.sidebar-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-icons li {
    padding: 15px;
    text-align: center;
}

.sidebar-icons img {
    width: 24px;
    cursor: pointer;
}


main {
    margin-left: 240px; 
    padding: 80px 20px 20px 20px; 
    width: calc(100% - 240px); 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px;
}

.thumbnail {
    background-color: #202020;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.thumbnail img {
    width: 100%;
    border-radius: 10px;
}

.thumbnail-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.thumbnail-info .avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

.video-info h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

.video-info p {
    font-size: 12px;
    color: #909090;
}