.header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottoㅡ: 1px solid #ccc ;
    justify-content: center;
}

.body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
}