body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    font-family: "Noto Sans KR", system-ui;
    margin: 0px;
    padding: 0px;
}


.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header_main_logo{
    position: absolute;
    width: 80px;
    height: 64px;
    top: 12px;
    left: 16px;
}

.header_name{
    position: absolute;
    left: 104px;
    top: 32px;
    font-weight: 500;
    font-size: x-large;
    color: rgb(0, 0, 0);
    font-family: "Jua", sans-serif;
}

.header h1 {
    position: relative;
    color: #000000; 
    font-weight: bold; 
    margin: 0 auto;
    text-align: center;
}

.login-container {
    background-color: #e0f7f6;
    border-radius: 20px;
    width: 400px;
    padding: 50px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
}

.login-container img {
    width: 100px;
    height: 80px;
}

.login-container h2 {
    position: relative;
    margin-top: -14px;
    font-family: "Jua", sans-serif;
    left: 2px;
}

body input[type="email"],
 input[type="password"] {
    width: 90%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.login-container button {
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    border: 2px solid #00bfa5;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    color: #00bfa5;
}

.login-container button:hover {
    background-color: #00bfa5;
    color: white;
}

.login-container .links {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #00bfa5;
}

.login-container .links a {
    text-decoration: none;
    color: #00bfa5;
    margin: 0 5px;
}

.login-container .links a:hover {
    text-decoration: underline;
}
.logo_form{
    position: relative;
    margin-top: -39px;
    padding-top: 5px;
    height: 100px;
    left: -52px;
}
.name{
    position: relative;
    margin: 0px;
    top: -53px;
    left: 89px;
    font-family: "Jua", sans-serif;
    font-size: medium;
}