.frame {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0px;
  }
  
  .frame .group-wrapper {
    overflow-x: hidden;
    width: 1368px;
    height: 2715px;
  }
  
  .frame .group {
    position: relative;
    width: 1412px;
    height: 2715px;
  }
  
  .frame .overlap {
    position: absolute;
    width: 1368px;
    height: 2715px;
    top: 0;
    left: 0;
  }
  
  .frame .rectangle {
    position: absolute;
    width: 1366px;
    height: 650px;
    top: 1px;
    left: 1px;
    object-fit: fill;
  }
  
  .frame .div {
    position: absolute;
    width: 1367px;
    height: 1838px;
    top: 475px;
    left: 0;
    background-color: #ffffff;
  }
  
  .frame .group-2 {
    position: absolute;
    width: 700px;
    height: 110px;
    top: 1638px;
    left: 336px;
  }
  
  .frame .text-wrapper {
    position: absolute;
    top: 0;
    left: 53px;
    text-shadow: 0px 5px 13px #ffffff66;
    font-family: "Volkhov-Bold", Helvetica;
    font-weight: 700;
    color: #1c2a38;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .p {
    position: absolute;
    width: 696px;
    top: 60px;
    left: 0;
    font-family: "Mulish-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--dark-60);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
  }
  
  .frame .div-2 {
    display: inline-flex;
    position: absolute;
    top: 694px;
    left: 15px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }
  
  /* .frame .div-wrapper {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 44px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 32px;
    position: relative;
    border-radius: 30px;
    border: 1px solid;
    border-color: #7bbcb0;
    cursor: pointer;
} 

  .div-wrapper:focus {
    background-color: #7bbcb0; /* 클릭 시 색상 */
} */

.frame .text-wrapper-2 {
    position: relative;
    width: 160px; /* div-wrapper와 동일하게 설정 */
    height: 70px !important; /* div-wrapper와 동일하게 설정 */
    font-family: "Mulish-Bold", Helvetica;
    font-weight: 700;
    color: var(--dark-80);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    border-radius: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
    
}

.text-wrapper-2{
  border-radius: 30px;
  width: 160px; 
  height: 58px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 32px;
  position: relative;
  border-radius: 30px;
  border: 1px solid;
  border-color: #7bbcb0;
  cursor: pointer;
  background-color: white;
}


  .text-wrapper-2:focus {
    background-color: #7bbcb0; /* 클릭 시 색상 */
  }
  
  .frame .div-wrapper-2 {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 44px;
    padding: 5px 32px;
    position: relative;
    background-color: #7bbcb0;
    border-radius: 30px;
    box-shadow: 0px 4px 10px #00000014;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .frame .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: "Mulish-Bold", Helvetica;
    font-weight: 700;
    color: var(--white);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    background: transparent;
    border: none;
    cursor: pointer;
    
  }
  
  .frame .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-left: -18.5px;
    margin-right: -18.5px;
    font-family: "Mulish-Bold", Helvetica;
    font-weight: 700;
    color: var(--dark-80);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .div-wrapper-3 {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 44px;
    padding: 5px 32px;
    position: absolute;
    top: 963px;
    left: 1208px;
    background-color: #7bbcb0;
    border-radius: 30px;
    box-shadow: 0px 4px 10px #00000014;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .frame .div-3 {
    display: inline-flex;
    position: absolute;
    top: 789px;
    left: 15px;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .frame .div-wrapper-4 {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 44px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 32px;
    position: relative;
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid;
    border-color: #7bbcb0;
  }
  
  .frame .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-left: -10px;
    margin-right: -10px;
    font-family: "Mulish-Bold", Helvetica;
    font-weight: 700;
    color: #495560;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .div-wrapper-5 {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 44px;
    padding: 5px 32px;
    position: absolute;
    top: 887px;
    left: 1098px;
    border-radius: 30px;
    border: 1px solid;
    border-color: #7bbcb0;
    box-shadow: 0px 4px 4px #00000040;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .frame .div-4 {
    display: inline-flex;
    position: absolute;
    top: 886px;
    left: 15px;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .frame .search-bar {
    position: absolute;
    width: 802px;
    height: 78px;
    top: 439px;
    left: 289px;
    background-color: white;
    border-radius: 50px;
    box-shadow : 0 0 5px 0 #00000040;
  }
  
  .frame .search-headers {
    position: absolute;
    width: 396px;
    height: 55px;
    top: 365px;
    left: 300px;
  }
  
  .frame .text-wrapper-6 {
    position: absolute;
    width: 149px;
    top: 0;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .frame .search-options {
    position: absolute;
    width: 224px;
    height: 27px;
    top: 12px;
    left: 174px;
  }
  
  .frame .active-rooms {
    position: absolute;
    width: 60px;
    height: 27px;
    top: 0;
    left: 0;
  }
  
  .frame .text-wrapper-7 {
    position: absolute;
    width: 58px;
    top: 0;
    left: 0;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  
  .frame .text-wrapper-8 {
    position: absolute;
    width: 43px;
    top: 0;
    left: 87px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .frame .text-wrapper-9 {
    position: absolute;
    width: 63px;
    top: 0;
    left: 157px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .frame .img {
    position: absolute;
    width: 207px;
    height: 288px;
    top: 1797px;
    left: 90px;
    object-fit: cover;
  }
  
  .frame .rectangle-3 {
    position: absolute;
    width: 207px;
    height: 288px;
    top: 1797px;
    left: 580px;
    object-fit: cover;
  }
  
  .frame .rectangle-4 {
    position: absolute;
    width: 207px;
    height: 288px;
    top: 1797px;
    left: 335px;
    object-fit: cover;
  }
  
  .frame .rectangle-5 {
    position: absolute;
    width: 207px;
    height: 288px;
    top: 1797px;
    left: 825px;
    object-fit: cover;
  }
  
  .frame .rectangle-6 {
    position: absolute;
    width: 207px;
    height: 288px;
    top: 1797px;
    left: 1070px;
    object-fit: cover;
  }
  
  .frame .group-3 {
    position: absolute;
    width: 700px;
    height: 115px;
    top: 547px;
    left: 333px;
  }
  
  .frame .text-wrapper-10 {
    position: absolute;
    top: 0;
    left: 219px;
    text-shadow: 0px 5px 13px #ffffff66;
    font-family: "Volkhov-Bold", Helvetica;
    font-weight: 700;
    color: #1c2a38;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-111 {
    position: absolute;
    width: 696px;
    top: 50px;
    left: 0;
    font-family: "Mulish-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--dark-60);
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
  }

  .frame .text-wrapper-11 {
    position: absolute;
    width: 696px;
    top: 60px;
    left: 0;
    font-family: "Mulish-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--dark-60);
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
  }
  
  .frame .text-wrapper-12 {
    position: absolute;
    top: 1555px;
    left: 1090px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .rectangle-7 {
    position: absolute;
    width: 1366px;
    height: 90px;
    top: 0;
    left: 2px;
    background-color: #00000042;
    border-radius: 20px;
  }
  
  .frame .removebg {
    position: absolute;
    width: 92px;
    height: 80px;
    top: 5px;
    left: 52px;
  }
  
  .frame .div-wrapper-6 {
    display: flex;
    width: 20px;
    padding: 14px 73px;
    position: absolute;
    top: 20px;
    left: 1150px;
    background-color: #7bbcb0;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .frame .text-wrapper-13 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    margin-left: -30px;
    margin-right: -30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  
  .frame .text-wrapper-14 {
    position: absolute;
    top: 26px;
    left: 172px;
    font-family: "Nico Moji-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0;
    line-height: 42px;
    white-space: nowrap;
    background: transparent;
    border: none;
    cursor: pointer;;
  }
  
  .frame .footer {
    position: absolute;
    width: 1367px;
    height: 614px;
    top: 2101px;
    left: 0;
    background-color: #ffffff;
    overflow: hidden;
  }
  
  .frame .overlap-group {
    position: relative;
    width: 1381px;
    height: 403px;
    top: 212px;
    left: -11px;
  }
  
  .frame .footer-about {
    position: absolute;
    width: 384px;
    height: 155px;
    top: 135px;
    left: 91px;
  }
  
  .frame .text-wrapper-15 {
    position: absolute;
    width: 382px;
    top: 0;
    left: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #9a9a9a;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .playstore {
    position: absolute;
    width: 174px;
    height: 52px;
    top: 103px;
    left: 0;
  }
  
  .frame .overlap-group-2 {
    position: relative;
    width: 172px;
    height: 52px;
    background-color: #e0e2e6;
    border-radius: 6px;
  }
  
  .frame .ion-logo-google {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 15px;
    left: 29px;
  }
  
  .frame .text-wrapper-16 {
    position: absolute;
    width: 86px;
    top: 18px;
    left: 66px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #484848;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .applestore {
    position: absolute;
    width: 174px;
    height: 52px;
    top: 103px;
    left: 185px;
  }
  
  .frame .text-wrapper-17 {
    position: absolute;
    width: 94px;
    top: 18px;
    left: 60px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #484848;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .ion-logo-apple {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 15px;
    left: 21px;
  }
  
  .frame .company {
    position: absolute;
    width: 186px;
    height: 175px;
    top: 62px;
    left: 521px;
  }
  
  .frame .text-wrapper-18 {
    position: absolute;
    width: 176px;
    top: 0;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #484848;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .text-wrapper-19 {
    position: absolute;
    width: 87px;
    top: 48px;
    left: 0;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #484848;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .text-wrapper-20 {
    position: absolute;
    width: 153px;
    top: 81px;
    left: 0;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #484848;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .text-wrapper-21 {
    position: absolute;
    width: 103px;
    top: 114px;
    left: 0;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #484848;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .text-wrapper-22 {
    position: absolute;
    width: 57px;
    top: 147px;
    left: 0;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #484848;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .contact-info {
    position: absolute;
    width: 311px;
    height: 199px;
    top: 62px;
    left: 925px;
  }
  
  .frame .text-wrapper-23 {
    position: absolute;
    width: 153px;
    top: 0;
    left: 9px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #484848;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .text-wrapper-24 {
    position: absolute;
    width: 157px;
    top: 49px;
    left: 9px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #484848;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-25 {
    position: absolute;
    width: 224px;
    top: 81px;
    left: 9px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #484848;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-26 {
    position: absolute;
    width: 294px;
    top: 113px;
    left: 9px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #484848;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .frame .social-media-links {
    position: absolute;
    width: 191px;
    height: 38px;
    top: 161px;
    left: 0;
  }
  
  .frame .help-center {
    position: absolute;
    width: 165px;
    height: 208px;
    top: 62px;
    left: 722px;
  }
  
  .frame .text-wrapper-27 {
    position: absolute;
    width: 153px;
    top: 0;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #484848;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .text-wrapper-28 {
    position: absolute;
    width: 132px;
    top: 48px;
    left: 0;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #484848;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .text-wrapper-29 {
    position: absolute;
    width: 132px;
    top: 180px;
    left: 0;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #484848;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .copyrights {
    position: absolute;
    width: 1370px;
    height: 60px;
    top: 301px;
    left: 11px;
  }
  
  .frame .text-wrapper-30 {
    position: absolute;
    top: 40px;
    left: 80px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #484848;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .frame .created-with-love-by {
    position: absolute;
    top: 40px;
    left: 955px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 400;
    color: #484848;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .frame .span {
    font-weight: 600;
  }
  
  .frame .text-wrapper-31 {
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
  }
  
  .frame .line {
    position: absolute;
    width: 1366px;
    height: 1px;
    top: -1px;
    left: 0;
    object-fit: cover;
  }
  
  .frame .logo-removebg {
    position: absolute;
    width: 110px;
    height: 96px;
    top: 25px;
    left: 90px;
  }
  
  .frame .rectangle-8 {
    position: absolute;
    width: 1378px;
    height: 403px;
    top: 0;
    left: 0;
    background-color: #0000000d;
  }
  
  .frame .text-wrapper-32 {
    position: absolute;
    width: 231px;
    top: 61px;
    left: 222px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .rectangle-9 {
    position: absolute;
    width: 1367px;
    height: 571px;
    top: 1024px;
    left: 1px;
    background-color: #dafff836;
  }
  
  .frame .group-4 {
    position: absolute;
    width: 700px;
    height: 115px;
    top: 1069px;
    left: 326px;
  }
  
  .frame .text-wrapper-33 {
    position: absolute;
    top: 0;
    left: 48px;
    text-shadow: 0px 5px 13px #ffffff66;
    font-family: "Volkhov-Bold", Helvetica;
    font-weight: 700;
    color: #1c2a38;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .rectangle-10 {
    position: absolute;
    width: 207px;
    height: 206px;
    top: 1269px;
    left: 95px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .frame .rectangle-11 {
    position: absolute;
    width: 207px;
    height: 206px;
    top: 1270px;
    left: 585px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .frame .rectangle-12 {
    position: absolute;
    width: 207px;
    height: 206px;
    top: 1269px;
    left: 340px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .frame .rectangle-13 {
    position: absolute;
    width: 207px;
    height: 206px;
    top: 1269px;
    left: 830px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .frame .rectangle-14 {
    position: absolute;
    width: 207px;
    height: 206px;
    top: 1269px;
    left: 1075px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .frame .text-wrapper-34 {
    position: absolute;
    top: 1484px;
    left: 106px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #414141;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-35 {
    position: absolute;
    top: 1484px;
    left: 342px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #414141;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-36 {
    position: absolute;
    top: 1484px;
    left: 1090px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #414141;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-37 {
    position: absolute;
    top: 1484px;
    left: 850px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #414141;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-38 {
    position: absolute;
    top: 1484px;
    left: 604px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #414141;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .group-5 {
    position: absolute;
    width: 29px;
    height: 25px;
    top: 1806px;
    left: 258px;
  }
  
  .frame .group-6 {
    position: absolute;
    width: 29px;
    height: 25px;
    top: 1806px;
    left: 504px;
  }
  
  .frame .group-7 {
    position: absolute;
    width: 29px;
    height: 25px;
    top: 1806px;
    left: 747px;
  }
  
  .frame .group-8 {
    position: absolute;
    width: 29px;
    height: 25px;
    top: 1806px;
    left: 993px;
  }
  
  .frame .group-9 {
    position: absolute;
    width: 29px;
    height: 25px;
    top: 1806px;
    left: 1239px;
  }
  
  .frame .arrow {
    top: 1355px;
    left: 1318px;
    position: absolute;
    width: 21px;
    height: 37px;
  }
  
  .frame .text-wrapper-39 {
    position: absolute;
    top: 1514px;
    left: 106px;
    font-family: "Myanmar Sans Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-40 {
    position: absolute;
    top: 1514px;
    left: 342px;
    font-family: "Myanmar Sans Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-41 {
    position: absolute;
    top: 1514px;
    left: 604px;
    font-family: "Myanmar Sans Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-42 {
    position: absolute;
    top: 1514px;
    left: 850px;
    font-family: "Myanmar Sans Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-43 {
    position: absolute;
    top: 1514px;
    left: 1090px;
    font-family: "Myanmar Sans Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .arrow-2 {
    top: 1934px;
    left: 1314px;
    position: absolute;
    width: 21px;
    height: 37px;
  }
  
  .frame .text-wrapper-44 {
    position: absolute;
    top: 2122px;
    left: 92px;
    font-family: "ABeeZee-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-45 {
    position: absolute;
    top: 2122px;
    left: 335px;
    font-family: "ABeeZee-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-46 {
    position: absolute;
    top: 2122px;
    left: 580px;
    font-family: "ABeeZee-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-47 {
    position: absolute;
    top: 2122px;
    left: 825px;
    font-family: "ABeeZee-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-48 {
    position: absolute;
    top: 2122px;
    left: 1070px;
    font-family: "ABeeZee-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-49 {
    position: absolute;
    top: 2085px;
    left: 92px;
    font-family: "Moulpali-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-50 {
    position: absolute;
    top: 2085px;
    left: 336px;
    font-family: "Moulpali-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-51 {
    position: absolute;
    top: 2085px;
    left: 580px;
    font-family: "Moulpali-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-52 {
    position: absolute;
    top: 2085px;
    left: 825px;
    font-family: "Moulpali-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-53 {
    position: absolute;
    top: 2085px;
    left: 1070px;
    font-family: "Moulpali-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .rectangle-15 {
    position: absolute;
    width: 1367px;
    height: 108px;
    top: 1678px;
    left: -3073px;
  }
  input .btn_submit{
    background-image: url(./img/logo-removebg-preview\ \(2\).png);
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 60px;
    height: 29px;
    border: 0px;
    cursor:pointer;
    outline: 0;
  }
  